
*{margin:0; padding:0;}
body{font-size:14px; background-image:url(../images/wood.jpg); background-position:50% 0; background-color:#423a34; font-family:helvetica, arial, sans-serif;}
a img{border:none;}
a.tel{color: #000; text-decoration: none; cursor: default;}
ul{list-style-type:none;}
.cf:before,.cf:after{content:""; display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}

a{color:#085a56; text-decoration:none;}
a:hover{text-decoration:underline;}

hr{height:1px; border:none; border-top:1px solid #000; margin:20px 0; }

.photo_caption {
	display: block;
}
.photo_credit {
	display: block;
	color: #666;
	font-style: italic;
}
.pull-left {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
}

#app-ribbon {
	position: absolute; top: 0; right: 0;
}

/* Re-Usabled */
.styled-ul {
	margin-left: 20px;
	list-style: circle;
}
.border-top {
	padding-top: 10px;
	border-top: thin solid rgba(0, 0, 0, .2);
}
.spacer-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.indent-20 {
	margin-left: 20px;
}
.bold {
	font-weight: bold;
}
.clear {
	clear: both;
}

#wrap{width:910px; margin:60px auto; margin-top:40px; padding-bottom:20px;}
#wrap > header{z-index:20; position:relative; color:#fff; overflow:hidden; margin-bottom:30px; display:block;}
#wrap > header .header_piece{text-indent:-9999px; height:93px; background-image:url(../images/header.png);}
#wrap > header #la_cocina_header{display:block; width:130px; float:left;}
#wrap > header #la_cocina_header:hover{background-position:left -93px;}
#wrap > header #streetfood_header{}
#wrap > header #streetfood_header:hover{background-position:-131px -93px;}

.kraft{position:relative; background-color:#A77D55; background-image:url(../images/kraft.jpg); -webkit-box-shadow:0 2px 3px rgba(0,0,0,.5); -moz-box-shadow:0 2px 3px rgba(0,0,0,.5); box-shadow:0 2px 3px rgba(0,0,0,.5);}
.kraft .inner{padding:20px;}
.kraft.blue{background-image:url(../images/blue_kraft.jpg);}
.kraft h1{ text-transform:uppercase; font-family: "league-gothic-1","league-gothic-2"; font-size:22px; margin-bottom:15px;}
.kraft h2{width:75%; margin-bottom:15px; text-transform:uppercase; font-size:14px;}
.kraft p{margin-bottom:15px; line-height:1.3em; width:75%;}
.kraft section{display:block; border-top:1px solid rgba(0,0,0,.3); padding-top:15px; margin-top:35px;}
.kraft section:first-child{margin-top:0;}
.kraft section img.mood_img{width:300px; float:left; margin-right:10px; margin-bottom:10px;}
.kraft section#frequently_asked_questions h2{clear:both;}

ul.text{margin-bottom:20px; list-style-type:disc; padding-left:15px;}
ul.text li{margin-bottom:5px;}
.kraft .navigation.pagenav{}
.kraft .navigation.pagenav ul{overflow:hidden;}
.kraft .navigation.pagenav ul li{}
.kraft .navigation.pagenav ul li a{color:#fff; opacity:.8; font-family: "league-gothic-1","league-gothic-2"; font-size:22px; float:left; margin-left:35px;}
.kraft .navigation.pagenav ul li:first-child a{margin-left:0;}
.kraft .navigation.pagenav ul li a:hover{opacity:1;}
.kraft .side_img{float:right; padding:0 0 20px 20px;}
.kraft .extra_menu{position:absolute; top:-10px; right:-50px;width:160px; -webkit-box-shadow:0 2px 3px rgba(0,0,0,.5); -moz-box-shadow:0 2px 3px rgba(0,0,0,.5); box-shadow:0 2px 3px rgba(0,0,0,.5);}
.kraft .extra_menu.paper{background-color:#dab766; padding:20px; text-align:center; }
.kraft .extra_menu.paper h3{font-family:"rosewood-std-fill-1","rosewood-std-fill-2";}
.kraft .extra_menu.paper p{width:auto; font-size:12px;}
.kraft .extra_menu ul{ font-size:12px; margin-bottom:1em; }

#content{}
#content > .navigation.standard_nav{width:135px; float:left;}
#content > .navigation.standard_nav ul{padding-top:7px; position:relative; padding-bottom:7px;}
#content > .navigation.standard_nav ul li{}
#content > .navigation.standard_nav ul li.press_kit{display:none;}
#content > .navigation.standard_nav ul li.photo_contest{display:none;}
#content > .navigation.standard_nav ul li.get_list_ready{display:none;}
#content > .navigation.standard_nav ul li.social{position:absolute; left:0px; bottom:-55px; overflow:hidden; padding:0px;}
#content > .navigation.standard_nav ul li.social a{margin-left:26px;text-indent:0; background-image:none; float:left; display:block; width:auto;}
#content > .navigation.standard_nav ul li.social a:first-child{margin-left:0;}
#content > .navigation.standard_nav ul li a{margin:0 auto; color:#bb8e64; text-decoration:none; font-size:24px; font-weight:bold; background-image:url(../images/nav_sprites.png); display:block; text-indent:-9999px; width:111px; background-position:-111px 0;}
#content > .navigation.standard_nav ul li a#nav_about                           {height:45px; background-position:-111px 0px;}
#content > .navigation.standard_nav ul li a#nav_eat_and_drink                   {height:37px; background-position:-111px -45px;}
#content > .navigation.standard_nav ul li a#nav_conference                      {height:35px; background-position:-111px -82px;}
/*#content > .navigation.standard_nav ul li a#nav_local_forager                   { height:52px; background-position:-111px -161px; margin-top:8px;}*/
#content > .navigation.standard_nav ul li a#nav_news                            {height:37px; background-position:-111px -220px; margin-top:8px;}
#content > .navigation.standard_nav ul li a#nav_passports                       {height:15px; background-position:-111px -258px;}
#content > .navigation.standard_nav ul li a#nav_merchandise                     {height:15px; background-position:-111px -275px; margin-top:5px;}
#content > .navigation.standard_nav ul li a#nav_sponsors                        {height:36px; background-position:-111px -307px;}
#content > .navigation.standard_nav ul li a#nav_get_involved                    {height:30px; background-position:-111px -342px;}
#content > .navigation.standard_nav ul li a#mission_neighbors                   {display:none;}
#content > .navigation.standard_nav ul li a#nav_night_market                    {height:32px; background-position:-111px -377px; margin-top:7px;}
#content > .navigation.standard_nav ul li.active a#nav_get_involved,
#content > .navigation.standard_nav ul li a#nav_get_involved:hover              {height:30px; background-position:0px -342px;}
#content > .navigation.standard_nav ul li.active a#nav_about,                                                     
#content > .navigation.standard_nav ul li a#nav_about:hover                     {height:45px; background-position:0px 0px;}
#content > .navigation.standard_nav ul li.active a#nav_eat_and_drink,                                                 
#content > .navigation.standard_nav ul li a#nav_eat_and_drink:hover             {height:37px; background-position:0px -45px;}
#content > .navigation.standard_nav ul li.active a#nav_conference,                                                
#content > .navigation.standard_nav ul li a#nav_conference:hover                {height:35px; background-position:0px -82px;}
/*#content > .navigation.standard_nav ul li.active a#nav_local_forager,                                      */
/*#content > .navigation.standard_nav ul li a#nav_local_forager:hover             {height:52px; background-position:0px -161px;}*/
#content > .navigation.standard_nav ul li.active a#nav_news,                                                      
#content > .navigation.standard_nav ul li a#nav_news:hover                      {height:37px; background-position:0px -220px;}
#content > .navigation.standard_nav ul li.active a#nav_passports,                                 
#content > .navigation.standard_nav ul li a#nav_passports:hover                 {background-position:0px -258px;}
#content > .navigation.standard_nav ul li.active a#nav_merchandise,                                 
#content > .navigation.standard_nav ul li a#nav_merchandise:hover               {background-position:0px -275px;}
#content > .navigation.standard_nav ul li.active a#nav_sponsors,                                                  
#content > .navigation.standard_nav ul li a#nav_sponsors:hover                  {height:36px; background-position:0px -307px;}
#content > .navigation.standard_nav ul li.active a#nav_get_involved,                                              
#content > .navigation.standard_nav ul li a#nav_get_involved:hover              {height:30px; background-position:0px -342px;}
#content > .navigation.standard_nav ul li a#nav_night_market:hover,
#content > .navigation.standard_nav ul li.active a#nav_night_market             {height:32px; background-position:0px -377px;}

#content > section {width:755px; float:right;}


#content > .navigation.full_nav{background-image:none; background-color:transparent; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; margin-top:-150px;}
#content > .navigation.full_nav ul{position:relative; background-image:url(../images/home_nav/paint.png); background-position:-155px 70px; width:100%; height:773px; background-repeat: no-repeat;}
#content > .navigation.full_nav ul li{}
#content > .navigation.full_nav ul li.press_kit{ position:absolute; top:370px; left:725px; z-index:1;}
#content > .navigation.full_nav ul li.press_kit a{background-image:url(../images/home_nav/press_kit.png); width:263px; height:309px; }
#content > .navigation.full_nav ul li.press_kit a:hover{background-position:0 -309px;}

#content > .navigation.full_nav ul li.social{left:780px; position:relative; top:670px;background:url(../images/home_nav/follow_banner.png); width:104px; height:14px; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}
#content > .navigation.full_nav ul li.social a.facebook{position:absolute; top:24px; left:0px; background:url(../images/home_nav/fb.png); width:27px; height:27px;}
#content > .navigation.full_nav ul li.social a.twitter{position:absolute; top:24px; left:42px; background:url(../images/home_nav/t.png); width:30px; height:24px;}
#content > .navigation.full_nav ul li.social a.instagram{position:absolute; top:24px; left:84px; background:url(../images/home_nav/instagram.png); width:30px; height:24px;}
#content > .navigation.full_nav ul li a{ position:absolute; display:block; text-indent:-9999px;}
#content > .navigation.full_nav ul li a:hover{}
#content > .navigation.full_nav ul li a#nav_list                      { display:none; width:864px; height:265px; background-image:url(../images/home_nav/get_list_ready.png);}
#content > .navigation.full_nav ul li a#nav_about                     { width:177px; height:161px; background-image:url(../images/home_nav/about.png);}
#content > .navigation.full_nav ul li a#nav_eat_and_drink             { width:299px; height:347px; background-image:url(../images/home_nav/eat_and_drink.png);}
#content > .navigation.full_nav ul li a#nav_conference                { width:179px; height:157px; background-image:url(../images/home_nav/conference.png);}
/*#content > .navigation.full_nav ul li a#nav_local_forager             { width:186px; height:125px; background-image:url(../images/home_nav/local_forager.png);}*/
#content > .navigation.full_nav ul li a#nav_news                      { width:119px; height:88px; background-image:url(../images/home_nav/news.png);}
#content > .navigation.full_nav ul li a#nav_passports                 { width:243px; height:78px; background-image:url(../images/home_nav/passports.png);}
#content > .navigation.full_nav ul li a#nav_merchandise               { width:219px; height:58px; background-image:url(../images/home_nav/merchandise.png);}
#content > .navigation.full_nav ul li a#nav_sponsors                  { width:87px; height:271px; background-image:url(../images/home_nav/sponsors.png);}
#content > .navigation.full_nav ul li a#nav_get_involved              { width:181px; height:79px; background-image:url(../images/home_nav/get_involved.png);}
#content > .navigation.full_nav ul li a#nav_after_party               { display:none; width:227px; height:58px; background-image:url(../images/home_nav/after_party.png);}
#content > .navigation.full_nav ul li a#nav_photo_contest             { display:none; width:231px; height:69px; background-image:url(../images/home_nav/photo_contest.png);}
#content > .navigation.full_nav ul li a#mission_neighbors             { width:193px; height:99px; background-image:url(../images/home_nav/mission_neighbors.png);}
#content > .navigation.full_nav ul li a#nav_night_market              { width:232px; height:328px; background-image:url(../images/home_nav/night_market.png);}

#content > .navigation.full_nav ul li a#nav_about:hover                      {background-position:0 -161px;}
#content > .navigation.full_nav ul li a#nav_list:hover                       {background-position:0 -265px;}
#content > .navigation.full_nav ul li a#nav_eat_and_drink:hover              {background-position:0 -347px;}
#content > .navigation.full_nav ul li a#nav_conference:hover                 {background-position:0 -157px;}
/*#content > .navigation.full_nav ul li a#nav_local_forager:hover              {background-position:0 -125px;}*/
#content > .navigation.full_nav ul li a#nav_news:hover                       {background-position:0 -88px; }
#content > .navigation.full_nav ul li a#nav_passports:hover                  {background-position:0 -78px; }
#content > .navigation.full_nav ul li a#nav_merchandise:hover                {background-position:0 -58px; }
#content > .navigation.full_nav ul li a#nav_sponsors:hover                   {background-position:0 -271px;}
#content > .navigation.full_nav ul li a#nav_get_involved:hover               {background-position:0 -79px; }
#content > .navigation.full_nav ul li a#nav_after_party:hover                {background-position:0 -58px; }
#content > .navigation.full_nav ul li a#nav_photo_contest:hover              {background-position:0 -69px; }
#content > .navigation.full_nav ul li a#nav_photo_contest:hover              {background-position:0 -69px; }
#content > .navigation.full_nav ul li a#mission_neighbors:hover              {background-position:0 -99px; }
#content > .navigation.full_nav ul li a#nav_night_market:hover               {background-position:0 -328px;}

/*positioning for full nav*/
#content > .navigation.full_nav ul li a#nav_list               {left: auto;top: auto;z-index:38;}
#content > .navigation.full_nav ul li a#nav_about              {left:337px;top:172px;z-index:48;}
#content > .navigation.full_nav ul li a#nav_eat_and_drink      {left: -5px;top:178px;z-index:50;}
#content > .navigation.full_nav ul li a#nav_conference         {left:420px;top:347px;z-index:49;}
#content > .navigation.full_nav ul li a#nav_news               {left:659px;top:169px;z-index:46;}
#content > .navigation.full_nav ul li a#nav_sponsors           {left:731px;top:257px;z-index:53;}
#content > .navigation.full_nav ul li a#nav_get_involved       {left:352px;top:666px;z-index:58;}
#content > .navigation.full_nav ul li a#nav_night_market       {left:515px;top:178px;z-index:51;}
/*#content > .navigation.full_nav ul li a#nav_local_forager      {left:500px;top:519px;z-index:52;}*/
#content > .navigation.full_nav ul li a#nav_photo_contest      {left:530px;top:115px;z-index:47;}
#content > .navigation.full_nav ul li a#mission_neighbors      {left:  2px;top:669px;z-index:57;}
#content > .navigation.full_nav ul li a#nav_passports          {left:-29px;top:562px;z-index:54;}
#content > .navigation.full_nav ul li a#nav_merchandise        {left:161px;top:572px;z-index:55;}



.extra_menu a.sign{position:absolute; text-indent:-9999px; display:block;}
.extra_menu a.sign#missed_last_years_conference_sign{right:0; top:20px; background-image:url(../images/missed_out.png); width:272px; height:98px;}
.extra_menu a.sign#missed_last_years_conference_sign:hover{background-position:0 -98px;}
.extra_menu a.sign#buy_conference_tickets_sign{right:0; top:100px; background-image:url(../images/conference_tickets.png); width:214px; height:110px;}
.extra_menu a.sign#buy_conference_tickets_sign:hover{background-position:0 -110px;}

/* eat/drink page */
.grid-sizer {width: 17%;}
.gutter-sizer {width: 3%;}
.kraft + #vendors {margin-top: 1em;}
.vendor {background-image:url(../images/kraft.jpg); box-shadow: 0 2px 3px rgba(0, 0, 0, .5); -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .5); -moz-shadow: 0 2px 3px rgba(0, 0, 0, .5); margin-bottom: 1em;}
.vendor img.logo{margin:5px; display:block;}


.vendor:nth-child(5n+0) img.logo, .vendor.red img.logo{background-image:url(../images/red_kraft.jpg);}
.vendor:nth-child(5n+1) img.logo, .vendor.peach img.logo{background-image:url(../images/peach_kraft.jpg);}
.vendor:nth-child(5n+2) img.logo, .vendor.yellow img.logo{background-image:url(../images/yellow_kraft.jpg);}
.vendor:nth-child(5n+3) img.logo, .vendor.green img.logo{background-image:url(../images/green_kraft.jpg);}
.vendor:nth-child(5n+4) img.logo, .vendor.teal img.logo{background-image:url(../images/teal_kraft.jpg);}
.vendor.no_effects{background-image:none; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}

.vendor.filters{height:45px; width:290px; overflow:hidden;}
.vendor.filters .filter{display:none; float:left; margin-left:50px; margin-top:9px; color:#fff; cursor:pointer; font-family:"league-gothic-1","league-gothic-2"; font-size:24px;}
.vendor.filters .filter:first-child{margin-left:20px;}
.vendor.filters .filter.active{color:#2f5e58;}
.vendor:not(.filters){-webkit-transition:opacity .5s ease-in-out;}
.vendor.filtered_out:not(.filters){-moz-opacity:.10; filter:alpha(opacity=10); opacity:.10;}

#modal_fade{display:none; cursor:pointer; width:100%; height:100%; z-index:1000; background-color:#000; position:fixed; top:0; left:0;}
.vendor .payload{display:none;}
.vendor .payload .inner{padding:40px;}
.vendor .payload h1{ border-top:1px solid #000; padding-top:20px; text-transform:uppercase; font-family: "league-gothic-1","league-gothic-2"; font-size:22px; }
.vendor .payload h2{width:75%; margin-bottom:15px; text-transform:uppercase; font-size:14px;}
.vendor .payload p{margin-bottom:15px; line-height:1.3em; }
.vendor .payload .menu_item{margin-bottom:15px; line-height:1.3em; margin-top:15px;}
div.menu_item, .menu_item dt {font-style: italic;}
.menu_item dd {margin-left: 2em; opacity: 0.6;}

.la-cocina-biz h1 a {display: inline-block; background: url(../images/la_cocina_biz.png) no-repeat right; padding-right: 30px;}

#modal_2013{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
}

#modal_2013 .content{
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  margin: 100px auto;
  width :600px;
  background-color: #fff;
  padding: 20px;
  position: relative;
}

#modal_2013 .content .close{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.sponsor-logos {margin-top: 20px; margin-bottom: 3em; width: 710px; border-top: 1px solid #000; padding-top: 20px;}
.sponsor-logos th {text-align: left; vertical-align: top;}
.sponsor-logos td {text-align: center; padding-top: 20px;}
.sponsor-logos tr:first-child td {padding-top: 0;}

.highlighted {font-size:18px; background-image:url(../images/peach_kraft.jpg); padding:10px; border-radius:2px; font-weight: bold;}

/*conference*/
#conference .kraft p {width: auto;}
#conference section {width: 75%;}
#conference section#sponsors {width: auto;}