body {
	margin: 0;
	padding: 0;
	background: url(images/kraft_paper.jpg) repeat; 
}

#main_text {
	margin-left: 20px;
	width: 760px;
	font-family: Arial;
	font-size: 11pt;
}

#main_text a {
	color: #000000;
	text-decoration: underline;
}

#main_text a:hover {
	color: #005856;
}

img {
	border: 0;
}

