.map_header{}
.map{margin:40px;}
.map h1{color:#fff; font-family:rosewood-std-fill-1, rosewood-std-fill-2; font-size:40px;}
.map .info_col{float:left; width:290px;}
.map .info_col .map_nav{}
.map .info_col .map_nav a{display:block;}

.favs {
  padding: 10px;
  background-color: #cda84d;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.5), inset 0 2px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.5), inset 0 2px 10px rgba(0,0,0,.2);
  box-shadow: 0 2px 10px rgba(0,0,0,.5), inset 0 2px 10px rgba(0,0,0,.2);
  -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;
  border:1px solid #7c5a32;
	min-height:610px;
}
.favs .inner{padding:0;}
.favs h2{font-weight:normal; font-size:31px; width:auto; margin-bottom:0; letter-spacing:-2px; font-family:rosewood-std-fill-1,rosewood-std-fill-2;}
.favs div.fav{color:#000; cursor:pointer; margin-top:10px; font-size:18px; font-weight:bold; font-family:news-gothic-std-1,news-gothic-std-2;}
.favs div.fav .menu{margin-left:26px; color:#40342E; font-family:helvetica, arial; font-size:11px;}
.favs div.fav:hover{}
.favs div.fav .close{color:#731207; text-align:center; line-height:16px; margin-right:5px; position:relative; top:2px; height:21px; width:21px; display:block; float:left;}
.favs div.fav:hover .close{background-color:#731207; color:#fff;}
.favs .share_list{}
.favs .share_list label{color:#7C5A32; text-shadow:0 1px rgba(255,255,255,.2); font-weight:bold; font-size:11px; text-transform:uppercase;}
.favs .share_list input{border:1px solid #7C5A32; background-color:rgba(255,255,255,.3); width:250px; padding:3px; font-family:helvetica,arial; font-size:10px;}


.favs #fav_list.empty .empty_message{display:block;}
.favs #fav_list .empty_message{display:none; margin-top:30px;}
.favs #fav_list .empty_message h3{width:auto; color:#7C5A32; text-shadow:0 1px rgba(255,255,255,.2); text-align:center; font-size:30px; font-family:rosewood-std-fill-1, rosewood-std-fill-2;}
.favs #fav_list .empty_message p{ width:200px; font-family:georgia; font-size:18px; text-shadow:0 1px rgba(255,255,255,.2); font-style:italic; text-align:center; color:#7C5A32; margin:0 auto; margin-top:20px;}



.map .map_nav{margin-bottom:20px; position:relative; background-image:url(images/street_nav.png); background-repeat:no-repeat; width:269px; height:494px;}
.map .map_nav a{font-size:22px; text-transform:uppercase; font-weight:bold; display:block; width:103px; height:62px; position:absolute; font-family:news-gothic-std-1,news-gothic-std-2; color:#94a323;}
.map .map_nav a div.big{padding:5px; padding-bottom:0;}
.map .map_nav a div.small{font-size:14px; padding:5px; padding-top:0;}
.map .map_nav a:hover, .map .map_nav a.active{text-decoration:none; background-color:#8b2110; color:#fff !important;}

#nav_folsom_22_23{color:#005554; left:83px;top:37px;z-index:162;}
#nav_folsom_23_24{color:#ecb022; left:83px;top:157px;z-index:165;}
#nav_folsom_24_25{left:83px; top:243px;z-index:164;}
#nav_folsom_25_26{color:#108dcd; left:83px;top:363px;z-index:167;}
#nav_street_23{color:#fa8058; text-align:right; width:270px; height:58px; left:0px;top:99px;z-index:163;}
#nav_street_25{color:#831504; text-align:right; width:270px; height:58px; left:0px;top:305px;z-index:168;}

  
.map .vendor_col{width:330px; float:right;}
.map .vendor_col h2{margin-top:20px;}
.map .vendor_col h2:first-child{margin-top:0px;}
.map .vendor_col .vendor:first-child{margin-top:0;}
.map .vendor_col .vendor{overflow:hidden; color:#731207; margin-top:5px; cursor:pointer; font-weight:bold; font-size:18px; font-family:news-gothic-std-1,news-gothic-std-2;}
.map .vendor_col .vendor:before{content:"+"; color:#fff; text-align:center; line-height:16px; margin-right:5px; position:relative; top:2px; height:21px; width:21px; display:block; float:left; background-image: url(images/blue_kraft.jpg); -webkit-box-shadow:0 2px 3px rgba(0,0,0,.5); -moz-box-shadow:0 2px 3px rgba(0,0,0,.5); box-shadow:0 2px 3px rgba(0,0,0,.5);}
.map .vendor_col .vendor:hover{color:#280806;}
.map .vendor_col .vendor:hover:before{color:#fff;}
.map .vendor_col .vendor.active{ color:#280806; text-shadow:0 1px rgba(255,255,255,.3)}
.map .vendor_col .vendor.active:before{content:"–"; color:#fff;  -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;}

.vendor .menu{margin-left:26px; color:#40342E; font-family:helvetica, arial; font-size:11px;}

.map_header{color:#085A56; padding-top:150px; padding:150px 40px 0 40px; background-image:url(images/papel_picado.png); background-repeat:no-repeat;}
.map_header h1{}
.map_header h2{font-size:26px; width:auto; padding-right:40px;}
.map_header hr{margin:0; margin-top:40px; padding:0; height:1px; border:none;border-bottom:1px solid #000;}


body.iphone .favs{width:320px; padding:0; min-height:480px; font-family:helvetica;}
body.iphone .favs .fav{margin-top:20px;}
body.iphone .favs .inner{padding:20px;}
body.iphone .favs h2{}
body.iphone .favs .share_list{display:none;}
body.iphone .favs .fav .close{background-color:#731207; color:#fff;}
body.iphone .favs #fav_list{}
body.iphone .favs #fav_list.empty{}
body.iphone .favs #fav_list.empty .empty_message{}
	
a.sfsff_map{text-decoration:underline; margin-bottom:0;padding-bottom:0;font-size:18px;}




